<ion-header>
  <ion-navbar text-center no-border-bottom>
    <ion-title>Sorteios</ion-title>                   
  </ion-navbar>
</ion-header>

<ion-content padding class="trips detail-bg">

  
  <ion-list lines="none">
   
    <ion-card class="trip card" text-wrap *ngFor="let worker of usersArray" no-lines>

     <ion-card-header>
        <ion-item >
          <ion-avatar item-start>
            <img src="./assets/imgs/default-user.png" *ngIf="! worker.image">
            <img [src]="worker.image" *ngIf="worker.image">
          </ion-avatar>
          <h2>{{worker.title}}</h2>       
        </ion-item>    
     </ion-card-header>

      <ion-card-content>

        <ion-list text-wrap lines="none"> 
          
          <ion-item no-lines text-wrap>
            <ion-label stacked>Descrição</ion-label>                        
            <ion-label>{{worker.description}}</ion-label>                        
          </ion-item>                  

          <ion-item no-lines  *ngIf="worker.status && worker.winner">            
            <ion-label style="color: green;">Status: {{worker.status}}</ion-label>            
          </ion-item>        

          <ion-item no-lines  *ngIf="worker.status && worker.winner">                        
            <ion-label>Horário sorteio: {{worker.winner.time | date:'dd/MM/yyyy HH:mm'}}</ion-label>                 
          </ion-item>        


          <ion-card no-lines *ngIf="worker.status && worker.winner" style="border: 1px solid green; border-radius: 5px;">
            <ion-card-header>
              <ion-card-title>Vencedor: {{worker.winner.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-label>CPF {{worker.winner.cpf}}</ion-label>
              <ion-label>Cotas: {{worker.winner.winner_cotas}}</ion-label>
              <ion-label>Número Vencedor: {{worker.winner.winner_number}}</ion-label>
            </ion-card-content>
          </ion-card>
          
          
        </ion-list>

      </ion-card-content>
            
      <ion-row padding>              
        <ion-col *ngIf="!worker.status">
          <button ion-button icon-start clear small (click)="realizarSorteio(worker)">
            <ion-icon name="md-clipboard" color="primary"></ion-icon>
            <div>Realizar sorteios</div>
          </button>
        </ion-col>
      </ion-row>

      
    </ion-card>
  </ion-list>
</ion-content>
