
<ion-header>
  <ion-navbar text-center no-border-bottom>
    <ion-title *ngIf="requestType === 'Todos'">{{dataText.watchAllOnline}}</ion-title>
    <ion-title *ngIf="requestType === 'Serviço'">{{dataText.watchAll}}</ion-title>
  </ion-navbar>     
  <ion-buttons end> 
    <button ion-button style="color: white" (click)="fit()">
      {{dataText.zoomIn}}
    </button>       
    <button ion-button style="color: white" (click)="centerMap()">      
      {{dataText.center}}
    </button>      
    <button ion-button color="secondary" (click)="showWorksNow()" *ngIf="requestType === 'Todos'">      
      {{dataText.running}} {{totalWorks}}
    </button>               
    <button ion-button style="color: white" *ngIf="dataInfo.userInfo && dataInfo.userInfo.isAdmin" (click)="addClientsOnline()">                      
      {{dataText.clients}} online {{totalOnlineClients}}
    </button>  
    <button ion-button style="color: white" (click)="addOnline()">               
      {{dataText.professionalsAvailable}} {{totalOnline}}
    </button>            
    <button ion-button style="color: white"  (click)="showFinished()">               
      {{dataText.finished}} {{totalWorksFinished}}
    </button>      
    <button ion-button style="color: white" (click)="showCanceled()">               
      {{dataText.canceled}} {{totalWorksCanceled}}
    </button>  
    <button ion-button style="color: white" color="secondary"  (click)="showOpen()">               
      {{dataText.open}} {{totalWorksOpen}}
    </button>        
  </ion-buttons>
</ion-header>
<ion-content>        
  <ion-row style="width:100%; height:100%">    
    <ion-col  col-4>
      <ion-list no-lines>      
        <ion-list-header color="tema" *ngIf="requestType === 'Todos'">{{dataText.professionalsOnline}}</ion-list-header>
        <ion-list-header color="tema" *ngIf="requestType === 'Cliente'">{{dataText.clients}} online</ion-list-header>
        <ion-list-header  color="tema" *ngIf="requestType !== 'Todos' && requestType !== 'Cliente'">{{dataText.openJobs}}</ion-list-header>                 
        <ion-searchbar
            [(ngModel)]="searchTerm"
            (search)="setFilteredItems()"
            placeholder= "Procurar...">
         </ion-searchbar>      
                  
      </ion-list>


      <ion-list *ngIf="requestType === 'Todos'">
                
        <ion-item *ngFor="let work of allOnline">                  

          <p><b>{{dataText.professional}}:</b> {{work.name}}</p>  
          <p><b>{{dataText.phone}}:</b> {{work.tel}}</p>          
          <p *ngIf="work.latitude"> <b>Latitude:</b> {{work.latitude}}</p>   
          <p *ngIf="work.longitude"><b>Longitude:</b> {{work.longitude}}</p>   
          <p *ngIf="!work.latitude && !work.longitude "><b>{{dataText.locationNotAvailable}}</b></p>   
        </ion-item>                

      </ion-list>


      <ion-list *ngIf="requestType === 'Cliente'">
                
        <ion-item *ngFor="let work of allClientsOnline">                  

          <p><b>{{dataText.clients}}:</b> {{work.name}}</p>  
          <p><b>{{dataText.phone}}:</b> {{work.tel}}</p>          
          <p *ngIf="work.latitude"> <b>Latitude:</b> {{work.latitude}}</p>   
          <p *ngIf="work.longitude"><b>Longitude:</b> {{work.longitude}}</p>   
          <p *ngIf="!work.latitude && !work.longitude "><b>{{dataText.locationNotAvailable}}</b></p>   
        </ion-item>        
        
      </ion-list>

      <ion-list *ngIf="requestType !== 'Todos' && requestType !== 'Cliente'">
                

        <ion-item *ngFor="let work of allJobs">
          
          <p *ngIf="work.datetimeStr"><b>Data Solicitação:</b> {{work.datetimeStr}} </p>
          
          <p><b>{{dataText.clients}}:</b> {{work.name}}</p>             
          <p *ngIf="work.workerInfo"><b>{{dataText.professional}}:</b> {{work.workerInfo.name}}</p>  
          <p><b>{{dataText.status}}:</b> {{work.status}}</p>          
          <p><b>{{dataText.pickUp}}:</b> {{work.fromAddress}}</p>                    
          <p><b>{{dataText.value}}:</b> {{dataText.currency}} {{work.carInfo.finalValue}}</p>           
          <p><b>Latitude:</b> {{work.workerInfo.latitude}}</p>   
          <p><b>Longitude:</b> {{work.workerInfo.longitude}}</p>   
          
          
          <p *ngIf="work.lastDatetimeStr"><b>{{dataText.lastUpdated}}:</b> {{work.lastDatetimeStr}}</p>   
          
          <ion-row class="mrg-lt-10">

            <ion-col>                              
              <button ion-button icon-start clear small (click)="edit(work)"> 
                  <ion-icon name="clipboard" color="secondary"></ion-icon>
                <div>{{dataText.edit}}</div>
              </button>
            </ion-col>
            
            <ion-col  *ngIf="work.status === 'Criado' || work.status === 'Vencida'">
              <button ion-button icon-start clear small (click)="restartWork(work)"> 
                  <ion-icon name="md-refresh"></ion-icon>
                <div>{{dataText.restart}}</div>
              </button>
            </ion-col>

            <ion-col *ngIf="work.status !== 'Finalizado' && work.status !== 'Cancelado' && work.status !== 'Vencida'">                              
                <button ion-button icon-start clear small (click)="finishWorkDelivery(work)"> 
                    <ion-icon name="md-flag"></ion-icon>
                  <div>{{dataText.finish}}</div>
                </button>
              </ion-col>

              <ion-col *ngIf="work.status !== 'Finalizado' && work.status !== 'Cancelado' && work.status !== 'Vencida'">                              
                <button ion-button icon-start clear small (click)="cancelWorkDelivery(work)"> 
                    <ion-icon name="trash" color="danger"></ion-icon>
                  <div>{{dataText.cancel}}</div>
                </button>
              </ion-col>
    
              <ion-col>    
                <button ion-button icon-start clear small (click)="showHistory(work.key)">
                  <ion-icon name="md-open"></ion-icon>
                  <div>{{dataText.history}}</div>
                </button>
              </ion-col> 
                    
        </ion-row>

        </ion-item>

      </ion-list>

    </ion-col>

    <ion-col col-8>
      <div style="width:100%; height:100%"  #mapwatch id="mapwatch" ></div>  
    </ion-col>

  </ion-row>
        
    

</ion-content>

