
<ion-header class="bg-theme">
  <ion-navbar text-center no-border-bottom>
    <ion-title *ngIf="requestType === 'Todos'">{{dataText.watchAllOnline}}</ion-title>
    <ion-title *ngIf="requestType === 'Serviço'">{{dataText.watchAll}}</ion-title>
  </ion-navbar>       
</ion-header>

<ion-content>        
  <ion-row style="width:100%; height:100%">    
    <ion-col col-4 padding>

      <ion-buttons end> 

        <button ion-button style="color: white" (click)="fit()">
          {{dataText.zoomIn}}
        </button>       
        <button ion-button style="color: white" (click)="centerMap()">      
          {{dataText.center}}
        </button>         
    
        <button ion-button style="color: white">                      
          {{dataText.clients}} online {{totalOnline}}
        </button>                
      </ion-buttons>

      <ion-list no-lines>              
        <ion-searchbar
            [(ngModel)]="searchTerm"
            (search)="setFilteredItems()"
            placeholder= "Procurar...">
         </ion-searchbar>                        
      </ion-list>

      <ion-list *ngIf="requestType === 'Todos'">                
        <ion-item *ngFor="let work of allOnline">                  
          <p><b>Usuária:</b> {{work.name}}</p>  
          <p><b>{{dataText.phone}}:</b> {{work.tel}}</p>                    
          <p *ngIf="work.formatted_address"><b>Última localização:</b>{{work.formatted_address}}</p>    
          <p *ngIf="work.lastDatetime"><b>Visto por último online:</b> {{work.lastDatetime}}</p>        
          <p *ngIf="work.lastPanic"><b>Último acionamento:</b> {{work.lastPanic}}</p>        
          <p *ngIf="work.latitude"> <b>Latitude:</b> {{work.latitude}}</p>   
          <p *ngIf="work.longitude"><b>Longitude:</b> {{work.longitude}}</p>
          <p *ngIf="!work.latitude && !work.longitude "><b>{{dataText.locationNotAvailable}}</b></p>                
      
          <div class="button-container">            
            <button ion-button color="secondary" (click)="showHistory(work)" *ngIf="hasWork">
              <ion-icon name="book" class="button-icon"></ion-icon> Ocorrência Ativa
            </button> 
            <button ion-button color="primary" (click)="showMap(work)">
              <ion-icon name="map" class="button-icon"></ion-icon> Visualizar no mapa
            </button>                       
            <button ion-button color="primary" (click)="showHistory(work)">
              <ion-icon name="book" class="button-icon"></ion-icon> Ocorrências
            </button>    
          </div>
      
        </ion-item>                
      </ion-list>

      <ion-list>                
        <ion-item *ngFor="let work of allClientsOnline">                  
          <p><b>{{dataText.clients}}:</b> {{work.name}}</p>  
          <p><b>{{dataText.phone}}:</b> {{work.tel}}</p>    
          <p *ngIf="work.formatted_address">Última localização:<b>{{work.formatted_address}}</b></p> 
          <p *ngIf="work.latitude"> <b>Latitude:</b> {{work.latitude}}</p>   
          <p *ngIf="work.longitude"><b>Longitude:</b> {{work.longitude}}</p>   
          <p *ngIf="!work.latitude && !work.longitude "><b>{{dataText.locationNotAvailable}}</b></p>                       
        </ion-item>                
      </ion-list>
    </ion-col>

    <ion-col col-8>
      <div style="width:100%; height:100%"  #mapwatch id="mapwatch" ></div>  
    </ion-col>

  </ion-row>
        
    

</ion-content>

