<ion-header>


  <ion-navbar  #navbar>
    <ion-title>{{dataText.edit}}</ion-title>   
    
    <ion-buttons end>        
      
      <button ion-button color="white_" *ngIf="payload && payload.dropPointsFinalValue">
        <div>{{dataText.originalValue}} {{dataText.currency}} {{payload.dropPointsFinalValue}}</div>            
      </button>

        <button ion-button color="white_" (click)="finish()" *ngIf="!finalValue && emailProfissionalEntrega">
          <div>{{dataText.changeProfessional}}</div>
        </button>

        <button ion-button color="white_" (click)="finish()" *ngIf="finalValue">
          <div *ngIf="!emailProfissionalEntrega">{{dataText.sendAgainNewValue}} {{dataText.currency}} {{finalValue.toFixed(2)}}</div>
          <div *ngIf="emailProfissionalEntrega">{{dataText.sendAgainNewValueChangeProfessional}} {{dataText.currency}} {{finalValue.toFixed(2)}}</div>
        </button>

    </ion-buttons>
    
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item no-lines>
    <ion-label stacked>{{dataText.doSelectProfessional}}</ion-label>  
    <ion-select [(ngModel)]="emailProfissionalEntrega"  (ionChange)="workersChanged()" multiple="false">
      <ion-option *ngFor="let worker of usersWorkersArray">{{worker.name}}</ion-option>                                                  
    </ion-select>     
    
    <button ion-button item-right (click)="clearProfessionals()" color="danger" *ngIf="emailProfissionalEntrega && emailProfissionalEntrega.length > 0">
      <ion-icon name="ios-trash" color="light"> </ion-icon>&nbsp;&nbsp;{{dataText.erase}}
    </button>

  </ion-item>

  <ion-title>{{dataText.addHereNewAddrss}} {{dataText.address}}</ion-title>

    <ion-item class="to disabled" text-wrap no-lines>

        <ion-input 
            type="text" 
            [(ngModel)]="toAddress" 
            (keyup.enter)="updateSearchResults()"  
            (ionFocus)="checkFocus()"
            #toInput>
        </ion-input>

        <button ion-button item-right clear>
            <ion-icon item-end name="checkmark-circle" style="font-size: 30px;" (click)="updateSearchResults()"> </ion-icon>
        </button>

    </ion-item>

 <ion-list>   
   
    <ion-item *ngFor="let address of autocompleteItemsTo" text-wrap  no-lines (click)="selectAddress(address)">      
      {{address.description}}
        <ion-icon item-start name="md-locate" color="primary" style="font-size: 30px;"> </ion-icon>
    </ion-item>    

    
 </ion-list>

 <ion-list>   

  <ion-card  text-wrap  no-lines class="trip card" *ngIf="totalDistance">

    <ion-card-content>

      <ion-item text-wrap>

        <ion-title>Geral</ion-title>
          
        <p>{{dataText.distance}}: {{totalDistance}}</p>
        <p>{{dataText.estimatedTime}}:{{totalTime}}</p>

      </ion-item>

    </ion-card-content>

  </ion-card>

  <ion-list *ngIf="payload">

  </ion-list>

   
    <ion-card *ngFor="let address of dropPointsTmp; let i = index" text-wrap  no-lines class="trip card">

        <ion-card-content>

            <ion-item text-wrap>
                <ion-title *ngIf="address && address.addOnRun" style="color: green;">{{dataText.newPickup}}</ion-title>
                <ion-title *ngIf="address && address.startPoint">{{dataText.pickUp}}</ion-title>
                <ion-title *ngIf="address && address.isReturn" style="color: green;">{{dataText.returnPoint}}</ion-title>

                <p *ngIf="address && address.status"><b>{{dataText.status}}:</b> {{address.status}}</p>                
                <p *ngIf="address && address.description"><b>{{dataText.address}}:</b> {{address.description}}</p>

                <p *ngIf="address && address.responsible"><b>{{dataText.responsible}}:</b> {{address.responsible}}</p>
                <p *ngIf="address && address.instructions"><b>{{dataText.instructions}}:</b> {{address.instructions}}</p>                
                
                <p *ngIf="address && !address.startPoint && address.distance"><b>{{dataText.distance}}:</b> {{address.distance}} {{dataText.km}}</p>                
                <p *ngIf="address && !address.startPoint && address.duration"><b>Duração:</b> {{address.duration}}</p>
                <p *ngIf="address && !address.startPoint && address.value"><b>{{dataText.jobValue}}:</b> {{dataText.currency}} {{address.value}}</p>
            </ion-item>
                        
        </ion-card-content>


        <ion-row *ngIf="getHaveReturn() && address && address.startPoint">

          <ion-col>
            <button ion-button icon-start clear small (click)="addReturnPoint(address)">
              <ion-icon name="home"></ion-icon>
              <div>{{dataText.addReturn}}</div>
            </button>
        </ion-col>                     

        </ion-row>
        
        <ion-row *ngIf="address && address.status === 'Aguardando' && !address.startPoint">

            <ion-col>
              <button ion-button icon-start clear small (click)="presentActionSheet(address)">
                <ion-icon name="people"></ion-icon>
                <div>{{dataText.details}}</div>
              </button>
          </ion-col>                     
            
            <ion-col>
              <button ion-button icon-start clear small (click)="removeAddress(address)">
                <ion-icon name="trash" color="danger"></ion-icon>
                <div style="color: red;">{{dataText.remove}}</div>
              </button>
            </ion-col>


            <ion-col *ngIf="!address.isReturn">
              <button ion-button icon-start clear small (click)="goUp(address, i)">
                <ion-icon name="md-arrow-dropup-circle"></ion-icon>
                <div>{{dataText.up}}</div>
              </button>
          </ion-col>   


          <ion-col *ngIf="address && !address.isReturn">

            <button ion-button icon-start clear small (click)="goDown(address, i)">
              <ion-icon name="md-arrow-dropdown-circle"></ion-icon>
              <div>{{dataText.down}}</div>
            </button>
        </ion-col>   
        </ion-row>                            

    </ion-card>

 </ion-list>

</ion-content>


