page-work-run {
    

    .bg-theme {	  
        background: $theme-color !important;
    }
    
    .header {
        &.bg-transparent {
            .toolbar-background {
                background: transparent !important;
            }
        }
    
        &::after {
            display: none;
        }
    
        .toolbar {
            .toolbar-background {
                background-color: $theme-color;
                border: none !important;
            }
    
            .title {
                .toolbar-title {
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $white;
                    display: flex;
                    align-items: center;
                    letter-spacing: .5px !important;
                    text-transform: uppercase;
    
                    ion-icon {
                        font-size: 2.2rem;
                    }
                }
    
                .end {
                    margin-left: auto !important;
    
                }
            }
        }
    
        .bar-buttons {
            color: $white;
            z-index: 999;
        }
    
        .back-button {
            color: $white;
            z-index: 999;
    
            //        .ion-md-arrow-back:before {
            //            content: "\f3cf";
            //        }
        }
    
        .toolbar-ios {
            ion-title {
                padding: 0 16px;
                position: unset;
    
                .toolbar-title-ios {
                    text-align: justify;
                }
            }
    
            .bar-buttons-ios {
                color: $white;
            }
    
            .back-button-text {
                display: none;
            }
        }
    
        .bar-button-default:hover:not(.disable-hover) {
            color: lighten($gray, 100%);
        }
    }
    

.header {
    &.bg-transparent {
        .toolbar-background {
            background: transparent !important;
        }
    }

    &::after {
        display: none;
    }

    .toolbar {
        .toolbar-background {
            background-color: $theme-color;
            border: none !important;
        }

        .title {
            .toolbar-title {
                font-size: 1.5rem;
                font-weight: 600;
                color: $white;
                display: flex;
                align-items: center;
                letter-spacing: .5px !important;
                text-transform: uppercase;

                ion-icon {
                    font-size: 2.2rem;
                }
            }

            .end {
                margin-left: auto !important;

            }
        }
    }

    .bar-buttons {
        color: $white;
        z-index: 999;
    }

    .back-button {
        color: $white;
        z-index: 999;
    }

    .toolbar-ios {
        ion-title {
            padding: 0 16px;
            position: unset;

            .toolbar-title-ios {
                text-align: justify;
            }
        }

        .bar-buttons-ios {
            color: $white;
        }

        .back-button-text {
            display: none;
        }
    }

    .bar-button-default:hover:not(.disable-hover) {
        color: lighten($gray, 100%);
    }
}

.header .bar-buttons {
    color: darken($white, 100%) !important;
}

.scroll-content {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

}


.card-box {

    .text-theme {
        color: $theme-color !important;
    }

    .card {
        background: none;
        border-radius: 10px 10px 0 0 !important;
        box-shadow: none;
        width: calc(100% - 32px);
        margin: 0 auto;
        margin-bottom: 10px;


        .card-header {
            padding: 10px 20px 6px 20px;
            background: $white;

            h4 {
                font-weight: 600;
                font-size: 1.2rem;
            }
        }

        ion-card-content {
            padding: 0;
            margin-bottom: 5px;
            background: $white;

            .list {
                margin-bottom: 0;

                .item {
                    padding: 12px 20px 0px 20px;

                    ion-avatar {
                        
                        width: 45px !important;
                        height: 45px !important;
                        position: relative;
                        overflow: hidden;
                        border-radius: 5px;

                        &[item-start] {
                            margin: 0;
                            margin-right: 14px;
                        }

                        img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: -50% !important;
                            right: -50% !important;
                            bottom: 0;
                            margin: auto;
                            border-radius: 0;
                        }
                    }

                    .item-inner {
                        padding: 0;

                        .label {
                            margin: 0;

                            h2 {
                                font-size: 1.4rem;
                                font-weight: 600;
                                padding-bottom: 4px;
                            }

                            p {
                                font-size: 1.1rem;
                                font-weight: 500;
                                
                                .rateing {
                                    padding-left: 4px;

                                    ion-icon {
                                        font-size: 1.5rem !important;
                                        color: lighten($gray, 20%);

                                        &.active {
                                            color: $theme-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .car_details {
                padding-bottom: 10px !important;
                padding-top: 10px !important;

                small {
                    display: block;
                    width: 100%;
                    color: lighten($gray, 20%);
                    font-weight: 500;
                    font-size: 1.1rem;
                }

                strong {
                    display: block;
                    width: 100%;
                    color: darken($gray, 100%);
                    font-size: 1.5rem;
                    padding-top: 3px;
                }
            }

            &.trip_info {
                h2 {
                    font-weight: 600;
                    font-size: 1.2rem;
                    padding: 20px;
                    padding-bottom: 10px;
                }

                .list {
                    &.form {
                        position: relative;
                        overflow: hidden;

                        .item {
                            padding: 10px 20px 0px 20px;
                            align-items: flex-start;
                            position: relative;
                            border-bottom: none !important;

                           
                            ion-icon {
                                &[item-start] {
                                    font-size: 1.8rem;
                                    position: relative;
                                    top: 3px;
                                    z-index: 99;
                                    margin: 0;
                                    margin-right: 10px;
                                }
                            }

                            &.from {
                                ion-icon {
                                    &[item-start] {
                                        color: $theme-color
                                    }
                                }
                            }

                            &.to {
                                ion-icon {
                                    &[item-start] {
                                        color: $green_color;
                                    }
                                }
                            }

                            .item-inner {
                                align-items: center;
                                margin: 0;

                                .label {
                                    margin-right: 10px;
                                }

                                p {
                                    font-size: 1.2rem;
                                    padding-bottom: 0px;

                                    span {
                                        min-width: 34px;
                                        margin-right: 10px;
                                        font-size: 1.15rem;
                                        color: lighten($gray, 20%);
                                        display: block;
                                        padding-bottom: 4px;
                                    }
                                }
                            }

                        }
                    }
                }
            }

            &.payment {
                margin-bottom: 0;

                .row {
                    align-items: center;

                    .col[col-8] {
                        small {
                            color: darken($gray, 100%);
                        }
                    }
                }
            }
        }
    }

    .d-flex {

        display: flex !important;
        align-items: center;
        width: 100%;
    
        .end {
            margin-left: auto;
            margin-right: 0;
            display: block;
        }
    }
  }


.footer {

    height: 300px;
    transition: all 5s;

    .icon_box {
        padding: 10px 0;

        ion-icon {
            display: block;

            &.down_icon {
                display: none;
            }
        }

    }

    &.active {
        height: auto;
        transition: all 5s;

        .icon_box {
            ion-icon {
                &.down_icon {
                    display: block;
                }

                &.up_icon {
                    display: none;
                }
            }

        }

    }
 }

  .referencia {
    color: $green_color;
  }

  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/font/material_icons.woff2') format('woff2');
}

.material-icons {


    
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}




}
