
<work-run-one *ngIf="appWorkAcceptedInterface === 'Tela detalhada' && appIsOnlyReference === 'MotoTáxi' || appIsOnlyReference === 'MotoTáxi - Usar somente referência'"
    [workKey]=workKey 
    [workStatus]=workStatus 
    [viewType]=viewType 
    [driverUid]=driverUid
    [driverName]=driverName
    [driverPhoto]=driverPhoto
    [driverPhone]=driverPhone
    [driverLatitude]=driverLatitude
    [driverLongitude]=driverLongitude
    [carName]=carName
    [carPlate]=carPlate
    [arriveTime]=arriveTime
    [fromAddress]=fromAddress
    [toAddress]=toAddress
    [toReference]=toReference
    [startPosition]=startPosition
    [originPosition]=originPosition
    [destinationPosition]=destinationPosition
    [totalDistance]=totalDistance
    [totalTravelingTime]=totalTravelingTime
    [estimateArrival]=estimateArrival
    [totalValue]=totalValue
    [clientName]=clientName
    [clientPhoto]=clientPhoto
    [clientPhone]=clientPhone
    [paymentKey]=paymentKey
    [paymentPath]=paymentPath
    [alreadyRated]=alreadyRated>     
</work-run-one>

<work-run-two *ngIf="appWorkAcceptedInterface === 'Tela simples' && appIsOnlyReference === 'MotoTáxi' || appIsOnlyReference === 'MotoTáxi - Usar somente referência'"
    [workKey]=workKey 
    [workStatus]=workStatus 
    [viewType]=viewType 
    [driverUid]=driverUid
    [driverName]=driverName
    [driverPhoto]=driverPhoto
    [driverPhone]=driverPhone
    [driverLatitude]=driverLatitude
    [driverLongitude]=driverLongitude
    [carName]=carName
    [carPlate]=carPlate
    [arriveTime]=arriveTime
    [fromAddress]=fromAddress
    [toAddress]=toAddress
    [toReference]=toReference
    [startPosition]=startPosition
    [originPosition]=originPosition
    [destinationPosition]=destinationPosition
    [totalDistance]=totalDistance
    [totalTravelingTime]=totalTravelingTime
    [estimateArrival]=estimateArrival
    [totalValue]=totalValue
    [clientName]=clientName
    [clientPhoto]=clientPhoto
    [clientPhone]=clientPhone
    [paymentKey]=paymentKey
    [paymentPath]=paymentPath
    [alreadyRated]=alreadyRated>     
</work-run-two>

<work-run-three *ngIf="appIsOnlyReference === 'Entregas Especiais'"
    [workKey]=workKey 
    [workStatus]=workStatus 
    [viewType]=viewType 
    [driverUid]=driverUid
    [driverName]=driverName
    [driverPhoto]=driverPhoto
    [driverPhone]=driverPhone
    [driverLatitude]=driverLatitude
    [driverLongitude]=driverLongitude
    [carName]=carName
    [carPlate]=carPlate
    [arriveTime]=arriveTime
    [fromAddress]=fromAddress
    [toAddress]=toAddress
    [toReference]=toReference
    [startPosition]=startPosition
    [originPosition]=originPosition
    [destinationPosition]=destinationPosition
    [totalDistance]=totalDistance
    [totalTravelingTime]=totalTravelingTime
    [estimateArrival]=estimateArrival
    [totalValue]=totalValue
    [clientName]=clientName    
    [clientPhoto]=clientPhoto
    [clientPhone]=clientPhone
    [paymentKey]=paymentKey
    [paymentPath]=paymentPath
    [alreadyRated]=alreadyRated>     
</work-run-three>

<work-run-four *ngIf="appIsOnlyReference === 'Entregas'"
    [workKey]=workKey 
    [workStatus]=workStatus 
    [viewType]=viewType 
    [driverUid]=driverUid
    [driverName]=driverName
    [driverPhoto]=driverPhoto
    [driverPhone]=driverPhone
    [driverLatitude]=driverLatitude
    [driverLongitude]=driverLongitude
    [carName]=carName
    [carPlate]=carPlate
    [arriveTime]=arriveTime
    [fromAddress]=fromAddress
    [toAddress]=toAddress
    [toReference]=toReference
    [startPosition]=startPosition
    [originPosition]=originPosition
    [destinationPosition]=destinationPosition
    [totalDistance]=totalDistance
    [totalTravelingTime]=totalTravelingTime
    [estimateArrival]=estimateArrival
    [totalValue]=totalValue
    [clientName]=clientName
    [clientPhoto]=clientPhoto
    [clientPhone]=clientPhone
    [paymentKey]=paymentKey
    [paymentPath]=paymentPath
    [messageTip]=messageTip
    [textStartButton]=textStartButton
    [alreadyRated]=alreadyRated>     
</work-run-four>