
<ion-header>

  <ion-navbar text-center no-border-bottom>
    <ion-title> {{dataText.services}}  </ion-title>      
  </ion-navbar>

</ion-header>


<ion-content class="trips detail-bg">

  <ion-list>  

    <ion-card class="trip card" text-wrap no-lines>
        <ion-item>
            <ion-avatar item-start *ngIf="! dataInfo.isWeb"> 
                <img (click)="selectPicture()" [src]="base64Image" *ngIf="base64Image" />                          
                <img (click)="selectPicture()" *ngIf="! base64Image" src="{{dataInfo.defaultCarPic}}" />
              </ion-avatar>

              <ion-avatar item-start *ngIf="dataInfo.isWeb"> 
                  <img [src]="base64Image" *ngIf="base64Image" />                  
                  <input type="file" (change)="picChange($event)" accept="image/*;capture=camera">
                  <img *ngIf="! base64Image" src="{{dataInfo.defaultCarPic}}" />                                          
                </ion-avatar>        
        </ion-item>  
                   

        <ion-item no-lines><ion-label stacked>{{dataText.name}}:</ion-label><ion-input type="text" [(ngModel)]="name"></ion-input></ion-item>
        <ion-item no-lines><ion-label stacked>{{dataText.value}}:</ion-label><ion-input type="text" [(ngModel)]="valueMeter"></ion-input></ion-item>

    </ion-card>


  </ion-list>    

</ion-content>

<ion-footer>  
    <button *ngIf="!key" ion-button block class="btn" (click)="add()">{{dataText.add}}</button>
    <button *ngIf="key" ion-button block class="btn" (click)="save()">{{dataText.save}}</button>
</ion-footer>