
<ion-header>

  <ion-navbar text-center no-border-bottom>
    <ion-title> OnPedido </ion-title>      
    
    <ion-buttons end>      
      <button ion-button color="white_" (click)="getToday()">  <ion-icon name="search" style="margin-right: 10px;"></ion-icon>HOJE</button>            
      <button ion-button color="white_" (click)="getMonth()">  <ion-icon name="calendar" style="margin-right: 10px;"></ion-icon>MÊS</button>            
      <button ion-button color="white_" (click)="getGerente()">  <ion-icon name="search" style="margin-right: 10px;"></ion-icon>MEU GESTOR</button>     
      <button *ngIf="storeData" ion-button color="white_" (click)="storeStatusCheck()">  <ion-icon name="home" style="margin-right: 10px;"></ion-icon>INFORMAÇÕES</button>      
      <button ion-button color="white_" (click)="showConfigurations()">  <ion-icon name="cog" style="margin-right: 10px;"></ion-icon>CONFIGURAÇÕES</button>            

    </ion-buttons>  

  </ion-navbar>
 
</ion-header>

<ion-content padding>

  <ion-list no-lines>

    <ion-row>
      <ion-col>
        <ion-item no-lines>
          <ion-label stacked>{{dataText.startDate}}</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" min="2020-01-01" doneText="OK" cancelText="{{dataText.cancel}}" [(ngModel)] ="selectedDate"></ion-datetime>        
        </ion-item>                
      </ion-col>

      <ion-col>
        <ion-item  no-lines>
          <ion-label stacked>{{dataText.endDate}}</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" min="2020-01-01" doneText="OK" cancelText="{{dataText.cancel}}" [(ngModel)] ="selectedDateEnd"></ion-datetime>        
        </ion-item>    
      </ion-col> 
      
    </ion-row>
    
    <ion-row *ngIf="false">

      <ion-col>
        
      
        <ion-item  no-lines>
          <ion-label>{{dataText.clients}}</ion-label>
          <ionic-selectable
            item-content 
            [(ngModel)]="client"
            [items]="clientsWorkersArray"
            itemValueField="name"
            itemTextField="name"
            [canSearch]="true"
            (onChange)="clientChange($event)">
          </ionic-selectable>
        </ion-item>
        
  
      </ion-col>

      <ion-col>

        <ion-item  no-lines>
          <ion-label>{{dataText.professionals}}</ion-label>
          <ionic-selectable
          
            item-content 
            [(ngModel)]="worker"
            [items]="usersWorkersArray"
            itemValueField="name"
            itemTextField="name"
            [canSearch]="true"
            (onChange)="workersChanged($event)">
          </ionic-selectable>
        </ion-item>

      </ion-col>     

    </ion-row>

    <ion-row>
      <ion-col>          
        <ion-item no-lines>                
          <ion-label stacked>{{dataText.selectStatus}}</ion-label>  
          <ion-select [(ngModel)]="status" (ionChange)="get()">
            <ion-option *ngFor="let statuss of dataInfo.onPedidoStatus">{{statuss}}</ion-option>                                                                              
          </ion-select>                          
        </ion-item>
      </ion-col>
        
    </ion-row>          

  </ion-list> 


  <ion-row>

    

    

  </ion-row>

  <ion-list-header color="primary" style="margin-top: 10px"> AGUARDANDO PEDIDOS </ion-list-header>  
  
  
    <ion-list  no-lines *ngIf="storeStatus !== 'LOJA FECHADA'">

               
    <ion-item *ngFor="let order of orders" no-lines> 
                      

        <ion-title *ngIf="order.info && order.info.vencido" style="color: danger">Pedido #{{order.info.id}} ATRASADO</ion-title>   
        <ion-title *ngIf="order.info && !order.info.vencido" style="color: danger">Pedido #{{order.info.id}}</ion-title>   

        <br>  

        <p><b>Data:</b>{{order.info.data}}</p>
        <p><b>Previsão:</b>{{order.info.previsao}}</p>

        <p><b>Cliente:</b> {{order.cliente.nome}} - {{order.cliente.cel}}</p>
        <p><b>{{dataText.address}} do cliente:</b> {{order.cliente.endereco}}</p>
        <p><b>Status:</b>{{order.info.status}}</p>
        <p><b>Agendamento:</b>{{order.info.agendamento}}</p>
        
        <p><b>Observação:</b>{{order.info.observacao}}</p>

        <p><b>Valor total:</b> {{dataText.currency}} {{order.valores.total}}</p>
        <p><b>{{dataText.changeFor}}:</b> {{dataText.currency}} {{order.valores.troco}}</p>
        <p><b>Forma de pagamento:</b> {{order.valores.forma}}</p>
        <p><b>Taxa:</b>{{dataText.currency}} {{order.valores.taxa}}</p>
        <p><b>Cupom:</b> {{order.valores.cupom}}</p>
                                   

        <ion-list-header color="primary" style="margin-top: 15px;">
          Produtos
        </ion-list-header>

        <ion-item *ngFor="let pedido of order.produtos" no-lines> 

          <p><b>{{dataText.name}}:</b> {{pedido.nome}}</p>
          <p><b>Quantidade:</b> {{pedido.qtd}}</p>
          <p *ngIf="pedido.comentario"><b>Comentários:</b> {{pedido.comentario}}</p>
          <p *ngIf="pedido.promocao"><b>Promoção:</b> {{pedido.promocao}}</p>
          
        </ion-item>

        <ion-row>                

          <ion-col style="margin-left: 10px;" *ngIf="!showAllOptions || (order.info.status !== 'Pedido despachado'  && order.info.status !== 'Pedido não recebido'  && order.info.status !== 'Pedido entregue')">                
            <button ion-button icon-start clear small (click)="changeStatusAsk(order, 0, 'Pedido não recebido')">               
              <ion-icon name="md-close" color="primary"></ion-icon>
              <div>Pedido não recebido</div>
            </button>
          </ion-col>


          <ion-col style="margin-left: 10px;"  *ngIf="!showAllOptions || (order.info.status !== 'Pedido despachado' && order.info.status !== 'Pedido entregue')">    
            <button ion-button icon-start clear small (click)="changeStatusAsk(order, 1, 'Pedido recebido')"> 
                <ion-icon name="md-checkmark" color="primary"></ion-icon>
              <div>Pedido recebido</div>
            </button>
          </ion-col>


          <ion-col style="margin-left: 10px;"  *ngIf="!showAllOptions || (order.info.status !== 'Pedido despachado' && order.info.status !== 'Pedido não recebido'  && order.info.status !== 'Pedido entregue')">                
            <button ion-button icon-start clear small (click)="changeStatusAsk(order, 2, 'Pedido confirmado')"> 
              <ion-icon name="md-checkmark" color="primary"></ion-icon>
              <div>Pedido confirmado</div>
            </button>
          </ion-col>
                                           
        </ion-row>

        <ion-row>

          <ion-col style="margin-left: 10px;"  *ngIf="!showAllOptions || (order.info.status !== 'Pedido despachado' && order.info.status !== 'Pedido não recebido' && order.info.status !== 'Pedido entregue')">                
            <button ion-button icon-start clear small (click)="changeStatusAsk(order, 3, 'Pedido despachado')"> 
              <ion-icon name="md-checkmark" color="primary"></ion-icon>
              <div>Pedido despachado</div>
            </button>
          </ion-col>     

          <ion-col style="margin-left: 10px;"  *ngIf="!showAllOptions || (order.info.status === 'Pedido despachado' && order.info.status !== 'Pedido não recebido' && order.info.status !== 'Pedido entregue')">                
            <button ion-button icon-start clear small (click)="changeStatusAsk(order, 4, 'Pedido entregue')"> 
              <ion-icon name="md-checkmark" color="primary"></ion-icon>
              <div>Pedido entregue</div>

            </button>
          </ion-col>

          <ion-col style="margin-left: 10px;" *ngIf="!showAllOptions || (order.info.status !== 'Pedido entregue')">                
            <button ion-button icon-start clear small (click)="changeStatusCancel(order)"> 
              <ion-icon name="md-close" color="primary"></ion-icon>
              <div>Pedido cancelado</div>
            </button>
          </ion-col>
                  
        </ion-row>


        <ion-row *ngIf="!showAllOptions || (order.info.status === 'Pedido despachado' || order.info.status === 'Pedido entregue')">

          <ion-col style="margin-left: 10px;" >                          
            <button ion-button icon-start clear small (click)="show(order)"> 
                <ion-icon name="md-search" color="primary"></ion-icon>
              <div> Visualizar corrida </div>
            </button>
          </ion-col>
        </ion-row>
        
              
        
    </ion-item>

 
  </ion-list>


  







</ion-content>
