<ion-header class="bg-theme">
        <ion-navbar text-wrap text-center no-border-bottom>            
            <ion-title>{{dataText.qualify}}</ion-title> 
        </ion-navbar>   
      </ion-header>

<ion-content> 
 
  <div class="user" style="background-image: url('assets/imgs/background.jpg');">
      <figure class="user-avatar">
          <img *ngIf="imageWorker" src="{{imageWorker}}" alt="User Avatar">            
          <img *ngIf="!imageWorker" src="{{dataInfo.imgDefaultClient}}" alt="User Avatar">
      </figure>
      
      <h2 class="user-name text-white">{{displayName}} </h2>
  </div>

  <ion-list no-lines>

    <ion-list-header no-lines text-wrap text-center color="light">
            <ion-label>{{dataText.howDoYouRate}}</ion-label>    
        </ion-list-header>                    

        <ion-item class="rating">        
            <rating [(ngModel)]="valueRate" 
                readOnly="false"
                max="5"
                emptyStarIconName="star-outline"
                halfStarIconName="star-half"
                starIconName="star"
                nullable="false"
                (ngModelChange)="onModelChange($event)">
            </rating>
        </ion-item>

        <ion-list-header no-lines text-wrap text-center color="light">   
            <ion-label>{{dataText.yourComment}}</ion-label>    
        </ion-list-header>  

        <ion-item>
            <ion-textarea [(ngModel)]="comments"></ion-textarea>   
        </ion-item>

        <ion-item no-lines item-end>
            <ion-checkbox [(ngModel)]="indicate"></ion-checkbox>
            <ion-label>{{dataText.indicate}}</ion-label>  
        </ion-item>            

        <ion-item no-lines>            
            <button ion-button full color="secondary"  class="btn" (click)="save()" *ngIf="! isRated">{{dataText.save}}</button>
        </ion-item>

        <ion-item no-lines>            
            <button ion-button full color="secondary"  class="btn" (click)="goHome()"  *ngIf="isRated">{{dataText.exit}}</button>
        </ion-item>
            
  </ion-list>   

 
 
               
</ion-content>
