
<ion-header>
  <ion-navbar text-center no-border-bottom color="primary">
      <ion-title>{{dataText.history}}</ion-title>              
  </ion-navbar>      
</ion-header>
  
<ion-content padding>

<ion-list>
 
  <ion-card class="trip card" text-wrap *ngFor="let work of worksArray" no-lines>

    <ion-item>
        <ion-avatar item-start>
          <img src="./assets/imgs/default-user.png" *ngIf="! work.photo">
          <img src="{{work.photo}}" *ngIf="work.photo">
        </ion-avatar>

        <p><b>{{dataText.key}}:</b> {{work.key}} </p>        

        <p *ngIf="work.workerInfo"><b>{{dataText.professional}}:</b> {{work.workerInfo.name}} </p>
        <p><b>{{dataText.clients}}:</b> {{work.name}} </p>
        
        <p *ngIf="work.datetimeStart"><b>{{dataText.dateArrived}}:</b> {{work.datetimeStart}} </p>
        <p *ngIf="work.datetimeFinish"><b>{{dataText.dateFinished}}:</b> {{work.datetimeFinish}} </p>  
        <p><b>{{dataText.status}}:</b> {{work.status}} </p>
        
      </ion-item>

      <ion-card-content style="margin-top: 10px;" *ngIf="work.expand">
                
        <p *ngIf="work.dropPoints"><b>{{dataText.dateArrived}}:</b> {{work.dropPoints[0].description}} </p>
        <p *ngIf="work.totalTime"><b>{{dataText.estimatedTime}}:</b> {{work.totalTime}} </p>            
        <p *ngIf="work.totalDistance"><b>{{dataText.distance}} total:</b> {{work.totalDistance}} </p>
        
        <p *ngIf="work.datetime"><b>{{dataText.dateRequest}}:</b> {{work.datetime}} </p>             
        <p *ngIf="work.totalTimeWaiting"><b>{{dataText.totalTimeWaited}}:</b> {{work.totalTimeWaiting}} {{dataText.minutes}}</p>            
        <p *ngIf="work.totalWaitMoney"><b>{{dataText.valueTimeWaited}}:</b> {{dataText.currency}} {{work.totalWaitMoney}}</p>            
        <p *ngIf="work.totalWaitMoney"><b>{{dataText.jobValue}}: </b> {{dataText.currency}} {{work.totalRun}} </p>
        <p *ngIf="work.total"><b>{{dataText.jobValue}}: </b> {{dataText.currency}} {{work.total}} </p>

        <p><b>{{dataText.paymentMethod}}: </b> {{work.carInfo.paymentMethod}} </p>
        <p *ngIf="work.carInfo && work.carInfo.paymentChange"><b>{{dataText.changeFor}}: </b> {{dataText.currency}} {{work.carInfo.paymentChange}} </p>          

        <p *ngIf="work.msgCancel"><b>{{dataText.messageCanceled}}:</b> {{work.msgCancel}} </p>
        <p *ngIf="work.msgFinish"><b>{{dataText.messageFinished}}:</b> {{work.msgFinish}} </p>                    
        <p><b>{{dataText.dropPoints}}:</b></p>
        
        <ion-item *ngFor="let point of work.dropPoints">

          <p><b>{{dataText.address}}:</b> {{point.description}} </p>
          <p><b>{{dataText.status}}:</b> {{point.status}} </p>        
          <p *ngIf="point.responsible"><b>{{dataText.responsible}}:</b> {{point.responsible}}</p>
          <p *ngIf="point.instructions"><b>{{dataText.instructions}}:</b> {{point.instructions}}</p>
          <p *ngIf="point.datetime"><b>{{dataText.startDate}}:</b> {{point.datetime}} </p>
          <p *ngIf="point.arrived"><b>{{dataText.dateArrived}}:</b> {{point.arrived}} </p>
          <p *ngIf="point.datetimeEnd"><b>{{dataText.endDate}}:</b> {{point.datetimeEnd}} </p>
          <p *ngIf="point.totalWait"><b>{{dataText.totalWaitTime}}:</b> {{point.totalWait}} </p>
          <p *ngIf="point.signedBy"><b>{{dataText.signedBy}}:</b> {{point.signedBy}} </p>

          <button ion-button icon-start clear small (click)="open(point)" color="danger" *ngIf="point.url">  
            <ion-icon name="ios-image"></ion-icon>                        
            {{dataText.attachment}}

        </button>                            
          
        </ion-item>
        
     </ion-card-content>

        <ion-row>                            
          <ion-col *ngIf="! work.expand">
              <button ion-button icon-start clear small (click)="expand(work)">
                  <ion-icon name="arrow-down"></ion-icon>
                  {{dataText.expand}}
              </button>
          </ion-col>

          <ion-col *ngIf="work.expand">
            <button ion-button icon-start clear small (click)="expand(work)" color="danger">                                                                            
                <ion-icon name="arrow-up"></ion-icon>                        
                {{dataText.less}}
            </button>
          </ion-col>

          
      </ion-row>  
                              
    </ion-card>

    </ion-list>

 
</ion-content>
